body,html{
  height: 100%;
  background: #211cee;
}
.heading{
  color:white;
  text-align: center;
}
.todo{
  display: flex;
  flex-direction:row;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background:purple;
  border-radius: 5px;
}
.todo p{
  width: 80%;
}
.status button{
  margin: 2px;
  border-radius: 90px;
  border: 1px solid grey;
}
.complete{
  background-color: blue;
  color:white;
}
.del{
  background-color: red;
  color: white;
}
input{
  padding:6px;
  margin:10px;
  border-radius:7px;
  border: 0;
  width: 96%;
  outline:none;
}
.todos{
  height: 400px;
  overflow: auto;
  background-color: palevioletred;
  margin: 20px;
  padding: 20px;
  border-radius:7px;
}
.developer{
  background-color: cadetblue;
  width:200px;
  text-align: center; color: white;
  transform: rotate(-44deg);
  position: absolute;
  top: 40px;
  left: -30px;
  padding:7px;
}